<div class="project__item">
  <div class="project__header">
    <h3 class="project__title">React JS 01</h3>
    <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
  </div>
  <p class="project__description">Project Regarding creating a dash in react js using Next Js as
    backend and APIs.</p>
  <div class="project__actions">
    <div class="project__actions-item">
      <img src="src/assets/icons/inactive.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">Inactive</p>
    </div>
    <div class="project__actions-item">
      <img src="src/assets/icons/count-task.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">12 Tasks</p>
    </div>
    <div class="project__actions-item">
      <img src="src/assets/icons/date.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">1 Jun 25</p>
    </div>
    <div class="project__actions-item">
      <img src="src/assets/icons/assigned-count.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">6 Assigned</p>
    </div>
  </div>
</div>
<div class="project__item">
  <div class="project__header">
    <h3 class="project__title">React JS 01</h3>
    <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
  </div>
  <p class="project__description">Project Regarding creating a dash in react js using Next Js as
    backend and APIs.</p>
  <div class="project__actions">
    <div class="project__actions-item">
      <img src="src/assets/icons/inactive.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">Inactive</p>
    </div>
    <div class="project__actions-item">
      <img src="src/assets/icons/count-task.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">12 Tasks</p>
    </div>
    <div class="project__actions-item">
      <img src="src/assets/icons/date.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">1 Jun 25</p>
    </div>
    <div class="project__actions-item">
      <img src="src/assets/icons/assigned-count.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">6 Assigned</p>
    </div>
  </div>
</div>
<div class="project__item">
  <div class="project__header">
    <h3 class="project__title">React JS 01</h3>
    <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
  </div>
  <p class="project__description">Project Regarding creating a dash in react js using Next Js as
    backend and APIs.</p>
  <div class="project__actions">
    <div class="project__actions-item">
      <img src="src/assets/icons/inactive.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">Inactive</p>
    </div>
    <div class="project__actions-item">
      <img src="src/assets/icons/count-task.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">12 Tasks</p>
    </div>
    <div class="project__actions-item">
      <img src="src/assets/icons/date.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">1 Jun 25</p>
    </div>
    <div class="project__actions-item">
      <img src="src/assets/icons/assigned-count.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">6 Assigned</p>
    </div>
  </div>
</div>
<div class="project__item">
  <div class="project__header">
    <h3 class="project__title">React JS 01</h3>
    <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
  </div>
  <p class="project__description">Project Regarding creating a dash in react js using Next Js as
    backend and APIs.</p>
  <div class="project__actions">
    <div class="project__actions-item">
      <img src="src/assets/icons/inactive.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">Inactive</p>
    </div>
    <div class="project__actions-item">
      <img src="src/assets/icons/count-task.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">12 Tasks</p>
    </div>
    <div class="project__actions-item">
      <img src="src/assets/icons/date.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">1 Jun 25</p>
    </div>
    <div class="project__actions-item">
      <img src="src/assets/icons/assigned-count.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">6 Assigned</p>
    </div>
  </div>
</div>
<div class="project__item">
  <div class="project__header">
    <h3 class="project__title">React JS 01</h3>
    <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
  </div>
  <p class="project__description">Project Regarding creating a dash in react js using Next Js as
    backend and APIs.</p>
  <div class="project__actions">
    <div class="project__actions-item">
      <img src="src/assets/icons/inactive.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">Inactive</p>
    </div>
    <div class="project__actions-item">
      <img src="src/assets/icons/count-task.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">12 Tasks</p>
    </div>
    <div class="project__actions-item">
      <img src="src/assets/icons/date.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">1 Jun 25</p>
    </div>
    <div class="project__actions-item">
      <img src="src/assets/icons/assigned-count.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">6 Assigned</p>
    </div>
  </div>
</div>
<div class="project__item">
  <div class="project__header">
    <h3 class="project__title">React JS 01</h3>
    <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
  </div>
  <p class="project__description">Project Regarding creating a dash in react js using Next Js as
    backend and APIs.</p>
  <div class="project__actions">
    <div class="project__actions-item">
      <img src="src/assets/icons/inactive.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">Inactive</p>
    </div>
    <div class="project__actions-item">
      <img src="src/assets/icons/count-task.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">12 Tasks</p>
    </div>
    <div class="project__actions-item">
      <img src="src/assets/icons/date.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">1 Jun 25</p>
    </div>
    <div class="project__actions-item">
      <img src="src/assets/icons/assigned-count.svg" alt="" width="" height="" loading="lazy" />
      <p class="project__actions-name">6 Assigned</p>
    </div>
  </div>
</div>