<div class="main__activities">
  <ul class="activity-list">
    <li class="activity-item">
      <div class="activity-item-inner">
        <div class="activity-item__icon-box">
          <div class="activity-item__icon">
            <img src="src/assets/icons/task.svg" alt="" width="25" height="23" loading="lazy" />
          </div>
        </div>
        <div class="activity-item__info">
          <h3 class="activity-item__name">New Task Added</h3>
          <p class="activity-item__description">New Task added for Project 03 for the deadline
            14 Jun 25</p>
        </div>
      </div>
      <div class="activity-item-last">
        <div class="activity-item-last__content">
          <div class="activity-item__by">
            <div class="activity-item__by-icon-box">
              <img src="src/assets/icons/by.svg" alt="" class="activity-item__by-icon" />
            </div>
            <p class="activity-item__by-worker">By Jason Stew</p>
          </div>
          <div class="activity-item__to">
            <div class="activity-item__to-icon-box">
              <img src="src/assets/icons/to.svg" alt="" class="activity-item__to-icon" />
            </div>
            <p class="activity-item__to-worker">To John Doe</p>
          </div>
        </div>
        <div class="action-menu">
          <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
        </div>
      </div>
    </li>
    <li class="activity-item">
      <div class="activity-item-inner">
        <div class="activity-item__icon-box">
          <div class="activity-item__icon">
            <img src="src/assets/icons/task.svg" alt="" width="25" height="23" loading="lazy" />
          </div>
        </div>
        <div class="activity-item__info">
          <h3 class="activity-item__name">Task Completed</h3>
          <p class="activity-item__description">Task Marked as complete for project 1</p>
        </div>
      </div>
      <div class="activity-item-last">
        <div class="activity-item-last">
          <div class="activity-item-last__content">
            <div class="activity-item__by">
              <div class="activity-item__by-icon-box">
                <img src="src/assets/icons/by.svg" alt="" class="activity-item__by-icon" />
              </div>
              <p class="activity-item__by-worker">By Jason Stew</p>
            </div>
            <div class="activity-item__to">
              <div class="activity-item__to-icon-box">
                <img src="src/assets/icons/to.svg" alt="" class="activity-item__to-icon" />
              </div>
              <p class="activity-item__to-worker">To John Doe</p>
            </div>
          </div>
          <div class="action-menu">
            <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
          </div>
        </div>
    </li>
    <li class="activity-item">
      <div class="activity-item-inner">
        <div class="activity-item__icon-box">
          <div class="activity-item__icon">
            <img src="src/assets/icons/task.svg" alt="" width="25" height="23" loading="lazy" />
          </div>
        </div>
        <div class="activity-item__info">
          <h3 class="activity-item__name">Task Completed</h3>
          <p class="activity-item__description">Task Marked as complete for project 1</p>
        </div>
      </div>
      <div class="activity-item-last">
        <div class="activity-item-last">
          <div class="activity-item-last__content">
            <div class="activity-item__by">
              <div class="activity-item__by-icon-box">
                <img src="src/assets/icons/by.svg" alt="" class="activity-item__by-icon" />
              </div>
              <p class="activity-item__by-worker">By Jason Stew</p>
            </div>
            <div class="activity-item__to">
              <div class="activity-item__to-icon-box">
                <img src="src/assets/icons/to.svg" alt="" class="activity-item__to-icon" />
              </div>
              <p class="activity-item__to-worker">To John Doe</p>
            </div>
          </div>
          <div class="action-menu">
            <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
          </div>
        </div>
    </li>
    <li class="activity-item">
      <div class="activity-item-inner">
        <div class="activity-item__icon-box">
          <div class="activity-item__icon">
            <img src="src/assets/icons/task.svg" alt="" width="25" height="23" loading="lazy" />
          </div>
        </div>
        <div class="activity-item__info">
          <h3 class="activity-item__name">Task Completed</h3>
          <p class="activity-item__description">Task Marked as complete for project 1</p>
        </div>
      </div>
      <div class="activity-item-last">
        <div class="activity-item-last">
          <div class="activity-item-last__content">
            <div class="activity-item__by">
              <div class="activity-item__by-icon-box">
                <img src="src/assets/icons/by.svg" alt="" class="activity-item__by-icon" />
              </div>
              <p class="activity-item__by-worker">By Jason Stew</p>
            </div>
            <div class="activity-item__to">
              <div class="activity-item__to-icon-box">
                <img src="src/assets/icons/to.svg" alt="" class="activity-item__to-icon" />
              </div>
              <p class="activity-item__to-worker">To John Doe</p>
            </div>
          </div>
          <div class="action-menu">
            <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
          </div>
        </div>
    </li>
    <li class="activity-item">
      <div class="activity-item-inner">
        <div class="activity-item__icon-box">
          <div class="activity-item__icon">
            <img src="src/assets/icons/task.svg" alt="" width="25" height="23" loading="lazy" />
          </div>
        </div>
        <div class="activity-item__info">
          <h3 class="activity-item__name">New Task Added</h3>
          <p class="activity-item__description">New Task added for Project 03 for the deadline
            14 Jun 25</p>
        </div>
      </div>
      <div class="activity-item-last">
        <div class="activity-item-last__content">
          <div class="activity-item__by">
            <div class="activity-item__by-icon-box">
              <img src="src/assets/icons/by.svg" alt="" class="activity-item__by-icon" />
            </div>
            <p class="activity-item__by-worker">By Jason Stew</p>
          </div>
          <div class="activity-item__to">
            <div class="activity-item__to-icon-box">
              <img src="src/assets/icons/to.svg" alt="" class="activity-item__to-icon" />
            </div>
            <p class="activity-item__to-worker">To John Doe</p>
          </div>
        </div>
        <div class="action-menu">
          <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
        </div>
      </div>
    </li>
    <li class="activity-item">
      <div class="activity-item-inner">
        <div class="activity-item__icon-box">
          <div class="activity-item__icon">
            <img src="src/assets/icons/task.svg" alt="" width="25" height="23" loading="lazy" />
          </div>
        </div>
        <div class="activity-item__info">
          <h3 class="activity-item__name">Task Completed</h3>
          <p class="activity-item__description">Task Marked as complete for project 1</p>
        </div>
      </div>
      <div class="activity-item-last">
        <div class="activity-item-last">
          <div class="activity-item-last__content">
            <div class="activity-item__by">
              <div class="activity-item__by-icon-box">
                <img src="src/assets/icons/by.svg" alt="" class="activity-item__by-icon" />
              </div>
              <p class="activity-item__by-worker">By Jason Stew</p>
            </div>
            <div class="activity-item__to">
              <div class="activity-item__to-icon-box">
                <img src="src/assets/icons/to.svg" alt="" class="activity-item__to-icon" />
              </div>
              <p class="activity-item__to-worker">To John Doe</p>
            </div>
          </div>
          <div class="action-menu">
            <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
          </div>
        </div>
    </li>
    <li class="activity-item">
      <div class="activity-item-inner">
        <div class="activity-item__icon-box">
          <div class="activity-item__icon">
            <img src="src/assets/icons/task.svg" alt="" width="25" height="23" loading="lazy" />
          </div>
        </div>
        <div class="activity-item__info">
          <h3 class="activity-item__name">Task Completed</h3>
          <p class="activity-item__description">Task Marked as complete for project 1</p>
        </div>
      </div>
      <div class="activity-item-last">
        <div class="activity-item-last">
          <div class="activity-item-last__content">
            <div class="activity-item__by">
              <div class="activity-item__by-icon-box">
                <img src="src/assets/icons/by.svg" alt="" class="activity-item__by-icon" />
              </div>
              <p class="activity-item__by-worker">By Jason Stew</p>
            </div>
            <div class="activity-item__to">
              <div class="activity-item__to-icon-box">
                <img src="src/assets/icons/to.svg" alt="" class="activity-item__to-icon" />
              </div>
              <p class="activity-item__to-worker">To John Doe</p>
            </div>
          </div>
          <div class="action-menu">
            <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
          </div>
        </div>
    </li>
    <li class="activity-item">
      <div class="activity-item-inner">
        <div class="activity-item__icon-box">
          <div class="activity-item__icon">
            <img src="src/assets/icons/task.svg" alt="" width="25" height="23" loading="lazy" />
          </div>
        </div>
        <div class="activity-item__info">
          <h3 class="activity-item__name">Task Completed</h3>
          <p class="activity-item__description">Task Marked as complete for project 1</p>
        </div>
      </div>
      <div class="activity-item-last">
        <div class="activity-item-last">
          <div class="activity-item-last__content">
            <div class="activity-item__by">
              <div class="activity-item__by-icon-box">
                <img src="src/assets/icons/by.svg" alt="" class="activity-item__by-icon" />
              </div>
              <p class="activity-item__by-worker">By Jason Stew</p>
            </div>
            <div class="activity-item__to">
              <div class="activity-item__to-icon-box">
                <img src="src/assets/icons/to.svg" alt="" class="activity-item__to-icon" />
              </div>
              <p class="activity-item__to-worker">To John Doe</p>
            </div>
          </div>
          <div class="action-menu">
            <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
          </div>
        </div>
    </li>
  </ul>
</div>