<div class="main__activities">
  <div class="admin-users">
    <h2 class="users-type">Admin users</h2>
    <ul class="user-list">
      <li class="user-item">
        <div class="user-item-inner">
          <div class="user-profile">
            <div class="user-profile__img-box">
              <img src="src/assets/icons/profile.svg" alt="Profile photo" class="user-profile__img">
            </div>
            <div class="user-profile__info">
              <h2 class="user-profile__name">Tommy Fury</h2>
              <p class="user-profile__created">Created: 12 Jan 25</p>
            </div>
            <div class="action-menu">
              <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
            </div>
          </div>
        </div>
      </li>
      <li class="user-item">
        <div class="user-item-inner">
          <div class="user-profile">
            <div class="user-profile__img-box">
              <img src="src/assets/icons/profile.svg" alt="Profile photo" class="user-profile__img">
            </div>
            <div class="user-profile__info">
              <h2 class="user-profile__name">Tommy Fury</h2>
              <p class="user-profile__created">Created: 12 Jan 25</p>
            </div>
            <div class="action-menu">
              <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
            </div>
          </div>
        </div>
      </li>
      <li class="user-item">
        <div class="user-item-inner">
          <div class="user-profile">
            <div class="user-profile__img-box">
              <img src="src/assets/icons/profile.svg" alt="Profile photo" class="user-profile__img">
            </div>
            <div class="user-profile__info">
              <h2 class="user-profile__name">Tommy Fury</h2>
              <p class="user-profile__created">Created: 12 Jan 25</p>
            </div>
            <div class="action-menu">
              <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <hr />
  <div class="employee-users">
    <h2 class="users-type">Employee users</h2>
    <ul class="user-list">
      <li class="user-item">
        <div class="user-item-inner">
          <div class="user-profile">
            <div class="user-profile__img-box">
              <img src="src/assets/icons/profile.svg" alt="Profile photo" class="user-profile__img">
            </div>
            <div class="user-profile__info">
              <h2 class="user-profile__name">Tommy Fury</h2>
              <p class="user-profile__created">Created: 12 Jan 25</p>
            </div>
            <div class="action-menu">
              <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
            </div>
          </div>
        </div>
      </li>
      <li class="user-item">
        <div class="user-item-inner">
          <div class="user-profile">
            <div class="user-profile__img-box">
              <img src="src/assets/icons/profile.svg" alt="Profile photo" class="user-profile__img">
            </div>
            <div class="user-profile__info">
              <h2 class="user-profile__name">Tommy Fury</h2>
              <p class="user-profile__created">Created: 12 Jan 25</p>
            </div>
            <div class="action-menu">
              <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
            </div>
          </div>
        </div>
      </li>
      <li class="user-item">
        <div class="user-item-inner">
          <div class="user-profile">
            <div class="user-profile__img-box">
              <img src="src/assets/icons/profile.svg" alt="Profile photo" class="user-profile__img">
            </div>
            <div class="user-profile__info">
              <h2 class="user-profile__name">Tommy Fury</h2>
              <p class="user-profile__created">Created: 12 Jan 25</p>
            </div>
            <div class="action-menu">
              <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
            </div>
          </div>
        </div>
      </li>
      <li class="user-item">
        <div class="user-item-inner">
          <div class="user-profile">
            <div class="user-profile__img-box">
              <img src="src/assets/icons/profile.svg" alt="Profile photo" class="user-profile__img">
            </div>
            <div class="user-profile__info">
              <h2 class="user-profile__name">Tommy Fury</h2>
              <p class="user-profile__created">Created: 12 Jan 25</p>
            </div>
            <div class="action-menu">
              <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
            </div>
          </div>
        </div>
      </li>
      <li class="user-item">
        <div class="user-item-inner">
          <div class="user-profile">
            <div class="user-profile__img-box">
              <img src="src/assets/icons/profile.svg" alt="Profile photo" class="user-profile__img">
            </div>
            <div class="user-profile__info">
              <h2 class="user-profile__name">Tommy Fury</h2>
              <p class="user-profile__created">Created: 12 Jan 25</p>
            </div>
            <div class="action-menu">
              <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
            </div>
          </div>
        </div>
      </li>
      <li class="user-item">
        <div class="user-item-inner">
          <div class="user-profile">
            <div class="user-profile__img-box">
              <img src="src/assets/icons/profile.svg" alt="Profile photo" class="user-profile__img">
            </div>
            <div class="user-profile__info">
              <h2 class="user-profile__name">Tommy Fury</h2>
              <p class="user-profile__created">Created: 12 Jan 25</p>
            </div>
            <div class="action-menu">
              <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
            </div>
          </div>
        </div>
      </li>
      <li class="user-item">
        <div class="user-item-inner">
          <div class="user-profile">
            <div class="user-profile__img-box">
              <img src="src/assets/icons/profile.svg" alt="Profile photo" class="user-profile__img">
            </div>
            <div class="user-profile__info">
              <h2 class="user-profile__name">Tommy Fury</h2>
              <p class="user-profile__created">Created: 12 Jan 25</p>
            </div>
            <div class="action-menu">
              <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
            </div>
          </div>
        </div>
      </li>
      <li class="user-item">
        <div class="user-item-inner">
          <div class="user-profile">
            <div class="user-profile__img-box">
              <img src="src/assets/icons/profile.svg" alt="Profile photo" class="user-profile__img">
            </div>
            <div class="user-profile__info">
              <h2 class="user-profile__name">Tommy Fury</h2>
              <p class="user-profile__created">Created: 12 Jan 25</p>
            </div>
            <div class="action-menu">
              <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
            </div>
          </div>
        </div>
      </li>
      <li class="user-item">
        <div class="user-item-inner">
          <div class="user-profile">
            <div class="user-profile__img-box">
              <img src="src/assets/icons/profile.svg" alt="Profile photo" class="user-profile__img">
            </div>
            <div class="user-profile__info">
              <h2 class="user-profile__name">Tommy Fury</h2>
              <p class="user-profile__created">Created: 12 Jan 25</p>
            </div>
            <div class="action-menu">
              <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
            </div>
          </div>
        </div>
      </li>
      <li class="user-item">
        <div class="user-item-inner">
          <div class="user-profile">
            <div class="user-profile__img-box">
              <img src="src/assets/icons/profile.svg" alt="Profile photo" class="user-profile__img">
            </div>
            <div class="user-profile__info">
              <h2 class="user-profile__name">Tommy Fury</h2>
              <p class="user-profile__created">Created: 12 Jan 25</p>
            </div>
            <div class="action-menu">
              <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
            </div>
          </div>
        </div>
      </li>
      <li class="user-item">
        <div class="user-item-inner">
          <div class="user-profile">
            <div class="user-profile__img-box">
              <img src="src/assets/icons/profile.svg" alt="Profile photo" class="user-profile__img">
            </div>
            <div class="user-profile__info">
              <h2 class="user-profile__name">Tommy Fury</h2>
              <p class="user-profile__created">Created: 12 Jan 25</p>
            </div>
            <div class="action-menu">
              <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
            </div>
          </div>
        </div>
      </li>
      <li class="user-item">
        <div class="user-item-inner">
          <div class="user-profile">
            <div class="user-profile__img-box">
              <img src="src/assets/icons/profile.svg" alt="Profile photo" class="user-profile__img">
            </div>
            <div class="user-profile__info">
              <h2 class="user-profile__name">Tommy Fury</h2>
              <p class="user-profile__created">Created: 12 Jan 25</p>
            </div>
            <div class="action-menu">
              <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
            </div>
          </div>
        </div>
      </li>
      <li class="user-item">
        <div class="user-item-inner">
          <div class="user-profile">
            <div class="user-profile__img-box">
              <img src="src/assets/icons/profile.svg" alt="Profile photo" class="user-profile__img">
            </div>
            <div class="user-profile__info">
              <h2 class="user-profile__name">Tommy Fury</h2>
              <p class="user-profile__created">Created: 12 Jan 25</p>
            </div>
            <div class="action-menu">
              <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
            </div>
          </div>
        </div>
      </li>

    </ul>
  </div>
  <hr />
  <div class="client-users">
    <h2 class="users-type">Client users</h2>
    <ul class="user-list">
      <li class="user-item">
        <div class="user-item-inner">
          <div class="user-profile">
            <div class="user-profile__img-box">
              <img src="src/assets/icons/profile.svg" alt="Profile photo" class="user-profile__img">
            </div>
            <div class="user-profile__info">
              <h2 class="user-profile__name">Tommy Fury</h2>
              <p class="user-profile__created">Created: 12 Jan 25</p>
            </div>
            <div class="action-menu">
              <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
            </div>
          </div>
        </div>
      </li>
      <li class="user-item">
        <div class="user-item-inner">
          <div class="user-profile">
            <div class="user-profile__img-box">
              <img src="src/assets/icons/profile.svg" alt="Profile photo" class="user-profile__img">
            </div>
            <div class="user-profile__info">
              <h2 class="user-profile__name">Tommy Fury</h2>
              <p class="user-profile__created">Created: 12 Jan 25</p>
            </div>
            <div class="action-menu">
              <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
            </div>
          </div>
        </div>
      </li>
      <li class="user-item">
        <div class="user-item-inner">
          <div class="user-profile">
            <div class="user-profile__img-box">
              <img src="src/assets/icons/profile.svg" alt="Profile photo" class="user-profile__img">
            </div>
            <div class="user-profile__info">
              <h2 class="user-profile__name">Tommy Fury</h2>
              <p class="user-profile__created">Created: 12 Jan 25</p>
            </div>
            <div class="action-menu">
              <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
            </div>
          </div>
        </div>
      </li>
      <li class="user-item">
        <div class="user-item-inner">
          <div class="user-profile">
            <div class="user-profile__img-box">
              <img src="src/assets/icons/profile.svg" alt="Profile photo" class="user-profile__img">
            </div>
            <div class="user-profile__info">
              <h2 class="user-profile__name">Tommy Fury</h2>
              <p class="user-profile__created">Created: 12 Jan 25</p>
            </div>
            <div class="action-menu">
              <img src="src/assets/icons/actions-menu.svg" alt="" width="" height="" loading="lazy" />
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>