@import "css/fonts.css";
@import "css/reset.css";

body{
  color:#FFF;
  font-family: "Gotham",sans-serif;
  font-weight: 400;
}  

.wrapper{
  background: #1D232A;
  display: flex;
  padding: 10px;
  height: 100vh;
}

.aside {
  border-radius: 15px;
  background-color: #191E24;
  padding: 10px;
  width: 384px;
  display: flex;
  flex-direction: column;
}

.navigation {
}

.profile {
  padding: 20px;
  display: flex;
  background: #15191e;
  border-radius: 10px;
  align-items: center;
  column-gap: 23px;
  position: relative;
  margin-bottom: 20px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.profile__email {
  font-size: 0.75rem;
  color: #cfcfcf;
}
.navigation {
}
.nav-list, .projects-sub-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.nav-item {
  font-size: 1.12rem;
}
.nav-link,.project-link  {
  padding: 13px 27px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  column-gap: 23px;
}

.nav-link:hover, .project-link:hover {
  background-color: #15191E;
}
.nav-link--active {
  background-color: #15191E;
}

.nav-divider {
  border: 1px solid #474747;
  margin-block: 20px;
}

.projects-sub-list {
  margin-bottom: 40px;
  margin-top: 6px;
}
.projects-sub-item {
  margin-left: 12px;
}
.project-link {
  position: relative;
  padding: 16px 16px 16px 54px;
  display: flex;
  justify-content: space-between;
}

.project-link::before {
  content:"";
  position: absolute;
  top: 21px;
  left: 27px;
  background: url("assets/icons/project.svg");
  width: 15px;
  height: 11px;
}
.project__name {
}
.project__counter {
  border-radius: 5px;
  padding: 7px 10px;
  font-size: 0.62rem;
  background: #15191E;
}

.project-link:hover .project__counter{
  background: #191E24;
}
.nav-button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  height: 85px;
  border-radius: 10px;
  background-color: #15191E;
}
.nav-button__text{
  font-size: 20px;
  color: white;
  font-weight: 500;
  margin-right: 15px;
}
.main {
  padding-inline: 50px;
  width: 100%;
}

.main hr{
  background: #474747;
  width: 100%;
  height: 1px;

}
.main__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 50px
}

.main__header h1{
  font-size: 32px;
  color: white;
  font-weight: 500;
}
.logo {
  width: 35px;
  height: 36px;
}

#content{
  width: 100%;
}
.main__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main__content hr {
  width: 100%;
}

.main__content--inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main__activities {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 25px;
}
.main__activities-header {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: start;
  padding-block: 20px;
}

.main__activities-header h2 {
  font-size: 24px;
  font-weight: 500;
  color: white;
}
.activity-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-bottom: 22px;
}
.activity-item {
  height: 65px;
  display: flex;
  background-color: #191E24;
  border-radius: 10px;
  justify-content: space-between;
  padding: 11px 25px;
  align-items: center;
}

.activity-item-inner{
  align-items: center;
  display: flex;
  column-gap: 10px;
}
.activity-item__icon-box {
}
.activity-item__icon {
}
.activity-item__info {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}
.activity-item__name {
  font-size: 16px;
  font-weight: 400;
}
.activity-item__description {
  font-size: 12px;
  color: #B6B6B6;
}

.activity-item-last {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 50px;
}

.activity-item-last__content {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 16px;
}
.activity-item__by {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 5px;
  padding: 5px 16px;
  border-radius: 10px;
  background-color: #15191E;
}
.activity-item__by-icon-box {
  display: flex;
  align-items: center;
}
.activity-item__by-icon {
  width: 13px;
  height: 10px;
}
.activity-item__by-worker {
  font-size: 10px;

}
.activity-item__to {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 5px;
  padding: 5px 16px;
  border-radius: 10px;
  background-color: #15191E;
}
.activity-item__to-icon-box {
  display: flex;
  align-items: center;
}
.activity-item__to-icon {
  width: 13px;
  height: 10px;
}
.activity-item__to-worker {
  font-size: 10px;
}
.action-menu__trigger {
  background-color: transparent;
  width: 25px;
  height: 35px;
}
.main__issues {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.action-menu {
    position: relative;

}

.action-menu__dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: #15191e;
    color: #FFF;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    min-width: 120px;
    box-shadow: 0 10px 25px rgba(0,0,0,.1);
    z-index: 20;
}

.action-menu__dropdown button {
      color: #FFF;
    width: 100%;
    padding: 10px 12px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    border-radius: 8px;
}

.action-menu__dropdown button:hover {
    background: #1D232A;
}

.main__issues-header {
}
.issues-list {
  width: 100%;
}
.issues-item {
}
.issues-item__icon-box {
}
.issues-item__icon {
}
.issues-item__info {
}
.issues-item__name {
}
.issues-item__description {
}
.issues-item__by {
}
.issues-item__by-icon-box {
}
.issues-item__by-icon {
}
.issues-item__by-worker {
}
.issues-item__project {
}
.issues-item__item__project-icon-box {
}
.issues-item__item__project-icon {
}
.issues-item__item__project-worker {
}
.main__stats {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-block: 40px;

}
.stats__total {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #191E24;
    border-radius: 15px;
}
.total__item {
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}
.total__number {
    font-size: 40px;
}
.total__description {
    font-size: 11px;
    color: #B6B6B6;
}

.stats__chart {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    background-color: #191E24;
    border-radius: 15px;
    padding: 20px;
}

.stats__chart__inner {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.chart__header {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.chart__task {
    max-height: 150px;
    max-width: 400px;
}

.chart__issues {
    max-height: 150px;
    max-width: 400px;
}

.chart__title {
    font-size: 16px;
}
.chart__period {
    font-size: 14px;
    color: #B6B6B6;
}
.chart__compare {
    color: #B6B6B6;
    font-size: 14px;
}

.task__content {
    padding-block: 40px;
}

.project__content {
    display: grid;
    padding-block: 40px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.project__item {
    display: flex;
    flex-direction: column;
    background-color: #191E24;
    padding: 20px;
    border-radius: 10px;
    row-gap: 10px;
}

.project__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project__title {
    font-size: 24px;
    color: #FFFFFF;
}
.project__description {
    font-size: 12px;
    color: #BFBFBF;
}

.project__actions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
}

.project__actions-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #252c35;
    padding: 7px;
    border-radius: 5px;
}
.project__actions-item img {
  width: 10px;
  height: 10px;
  margin-right: 3px;
}
.project__actions-name {
    font-size: 10px;
}

.issues__content {
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    padding-block: 40px;
}


.users-type{
  font-weight: 500;
  font-size: 1.25rem;
  margin-block: 30px;
}
.admin-users,.employee-users,.client-users, .manager-users{
  width: 100%;
}
.users-type {
}
.user-list {
  display: flex;
  gap: 11px 20px;
  flex-wrap: wrap;
}
.user-item{
  width: 23%;
}
.user-profile {
  display: flex;
  align-items: center;
  padding: 15px 18px;
  background-color:#191E24;
  column-gap: 18px;
  border-radius: 10px;
}
.user-profile__img-box {
}
.user-profile__img {
}
.user-profile__info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.user-profile__name {
}
.user-profile__created {
  font-size: 0.62rem;
  color: #a8a8a8;
}
.action-menu {
  margin-left: auto;
}

.hidden {
    display: none;
}

.modal {
    position: fixed;
    inset: 0;
    z-index: 1000;
    
}

.modal__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.5);
}

.modal__content {
    width: 700px;
    position: relative;
    background: #252c35;
    color: #FFF;
    margin: 5% auto;
    padding: 50px;
    border-radius: 12px;
}
.modal__header{
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 40px;
}
.modal__title{
  font-size: 24px;
  align-items: center;
  line-height: 2;

}
.modal__close{
  background-color:transparent
}
.modal__tabs{
  display: flex;
  background-color: #1D232A;
  padding: 5px 5px;
  border-radius: 10px;

}
.tab {
  width: 33.33%;
  background-color: transparent;
  color: #FFF;
  border-radius: 10px;
  height: 50px;
}

.tab--active {
  background-color: #191E24;

}

.form {
    display: none;

}
label{
  margin-top: 15px;
  margin-bottom: 5px;
}
.formButton{
  margin-top: 20px;
  background-color: #191E24;
  color:#FFF;
  height: 60px;
  border-radius: 10px;
  transition: all 0.5s;
}
.formButton:hover{
  background-color: #101418;

}
.formLine{
  margin-top: 30px;
  border:1px #1D232A solid;
}

input, textarea, select{
    color: #FFF;
  background-color: #191E24;
  height: 50px;
  outline: none;
  border: 1px solid #3a434e;
  border-radius: 6px;
  padding: 5px;
}
.form-row{
  display: flex;
  justify-content: space-between;
}
.form-field{
  display: flex;
  flex-direction: column;
  width: 49%;
}
.form--active {
    display:flex;
    flex-direction: column;
    justify-content: center;

}

.status-picker, .role-picker {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.status-option, .role-option {
width: 33%;

}
.status-option input, .role-option input {
    display: none;
}

.status-option span ,.role-option span{
    height: 100px;
    width: 100%;
    display: flex;
    row-gap: 8px;
    background-color: #191E24;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    border-radius: 8px;
    border: 3px solid #3a434e;
    cursor: pointer;
    font-size: 14px;
    transition: 0.5s;
}

.status-option input:checked + span, .role-option input:checked + span{
    border-color: #4a9eff;
    background-color: #1a3a5c;
}

/* Dashboard Styles */
.dashboard-projects {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding-block: 20px;
}

.dashboard-project {
    background-color: #191E24;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dashboard-project__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #3a434e;
}

.dashboard-project__title {
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
}

.dashboard-project__status {
    font-size: 14px;
    color: #B6B6B6;
    padding: 5px 15px;
    background-color: #252c35;
    border-radius: 5px;
}

.dashboard-project__tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.dashboard-task {
    background-color: #252c35;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.dashboard-task--empty {
    justify-content: center;
    color: #B6B6B6;
    font-style: italic;
}

.dashboard-task__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.dashboard-task__title {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

.dashboard-task__description {
    font-size: 12px;
    color: #B6B6B6;
}

.dashboard-task__status {
    font-size: 12px;
    color: #B6B6B6;
    padding: 3px 10px;
    background-color: #191E24;
    border-radius: 5px;
    display: inline-block;
    width: fit-content;
    margin-top: 5px;
}

.dashboard-task__actions {
    display: flex;
    gap: 10px;
}

.dashboard-task__action-btn {
    padding: 8px 16px;
    background-color: #4a9eff;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.dashboard-task__action-btn:hover {
    background-color: #3a8eef;
}

.dashboard-task__action-btn--accept {
    background-color: #28a745;
}

.dashboard-task__action-btn--accept:hover {
    background-color: #218838;
    border: 3px solid #8d9fb4;
}


